@using PhoneStore.Models.Display
@model GetPhonesDisplay
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Phones";
}

<h1 align="center">@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <td>
                <b>Brand</b>
            </td>
            <td>
                <b>Model</b>
            </td>
            <td>
                <b>Price</b>
            </td>
            <td><b>Bucket</b></td>
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("Admin"))
                {
                    <td><b>Delete</b></td>
                }
            }

        </tr>
    </thead>

    @foreach (var item in Model.Phones)
    {
        <tr>
            <td>@item.Brand</td>
            <td>@item.Model</td>
            <td>@item.Price</td>
            <td>
                <button class="btn btn-success" onclick="location.href='@Url.Action("AddPhoneToShoppingCart", "Phones", new { id = item.Id })'">Add</button>
            </td>
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("Admin"))
                {
                    <td>
                        <button class="btn btn-danger" onclick="location.href='@Url.Action("DeletePhone", "Phones", new { id = item.Id })'">Delete</button>
                    </td>
                }
            }
        </tr>
    }
</table>

@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Admin"))
    {
        <div>
            @await Html.PartialAsync("AddPhonePartial", new PhoneStore.Models.PhoneModel())
        </div>
    }
}

<br />

    <nav style="text-align:center">
        <ul class="pagination pagination-lg justify-content-center">
            @if (Model.PageInfo.PageNumber == 1)
            {
                <li class="page-item disabled"><a class="page-link" href=@string.Format("/Phones/Phones/?page={0}",Model.PageInfo.PageNumber)>Previous</a></li>

            }
            else
            {

                <li class="page-item"><a class="page-link" href=@string.Format("/Phones/Phones/?page={0}",Model.PageInfo.PageNumber-1)>Previous</a></li>
            }

            @if (Model.PageInfo.PageNumber == Model.PageInfo.TotalPages - 2)
            {
                <li class="page-item disabled"><a class="page-link" href=@string.Format("/Phones/Phones/?page={0}",Model.PageInfo.PageNumber)>Next</a></li>
            }
            else
            {
                <li class="page-item"><a class="page-link" href=@string.Format("/Phones/Phones/?page={0}",Model.PageInfo.PageNumber+1)>Next</a></li>
            }


        </ul>
    </nav>


