@using PhoneStore.Models.Display;
@model GetOrderDetailsDisplay
@{
    ViewData["Title"] = "GetOrderDetail";
}

<h1>Info about user's order:</h1>
<br />
<h2>Order created by @Model.Email</h2>
<br />
<h2>Total price of order is @Model.TotalSum</h2>
<hr />
<table class="table table-hover">
    @foreach (var phones in Model.Phones)
    {
    <tr>
        <td>
            <h3>@phones.Id</h3>
        </td>
        <td>
            <h3>@phones.Brand</h3>
        </td>
        <td>
            <h3>@phones.Model</h3>
        </td>
        <td>
            <h3>@phones.Price</h3>
        </td>
    </tr>
    }
</table>
